.quote {
  padding: 120px 120px 60px 0px;
  display: grid;
  grid-template-columns: 650px 1fr;
  grid-template-rows: repeat(2, auto);
  grid-auto-flow: column;
  gap: 80px;
}

@media (max-width: 1280px) {
  .quote {
    grid-template-columns: 550px 1fr;
  }
}

@media (max-width: 1024px) {
  .quote {
    padding: 120px 0 60px 0;
    gap: 40px;
  }
}

@media (max-width: 950px) {
  .quote {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
  }
}

@media (max-width: 768px) {
  .quote {
    padding-top: 60px;
    gap: 40px;
  }
}


@media (max-width: 425px) {
  .quote {
    padding: 40px 0 80px;
  }
}
