.quote {
  padding: 120px 120px 60px 0px;
  display: grid;
  grid-template-columns: 650px 1fr;
  grid-template-rows: repeat(2, auto);
  grid-auto-flow: column;
  gap: 80px;
}

@media (max-width: 320px) {
  .quote {
    padding: 40px 0;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);;
    gap: 40px;
  }
}
