.main {
  padding-left: 120px;
  box-sizing: border-box;
}



@media screen and (max-width: 1024px) {
  .main {
    padding: 0 60px 0;
  }
}


@media screen and (max-width: 430px) {
  .main {
    padding-left: 18px;
    padding-right: 18px;
  }
}
