.main {
  padding-left: 120px;
  box-sizing: border-box;
}



@media screen and (max-width: 660px) {
  .main {
    padding-left: 60px;
  }
}


@media screen and (max-width: 320px) {
  .main {
    padding-left: 18px;
    padding-right: 18px;
  }
}
