.qoute__img {
  width: 100%;
  max-width: 650px;
  max-height: 460px;
  object-fit: cover;
  grid-row: span 2;
}

@media (max-width: 1024px) {
  .qoute__img {
    max-width: 500px;
  }
}

/* @media (max-width: 768px) {
  .qoute__img {
    max-width: 284px;
    min-height: 204px;
  }
} */

@media (max-width: 425px) {
  .qoute__img {
    border-top: 1px solid #E3E3E3;
    padding-top: 20px;
  }
}
