.quote__img {
  width: 100%;
  max-height: 460px;
  object-fit: cover;
  grid-row: span 2;
  display: block;
}

@media (max-width: 1024px) {
  .quote__img {
    max-width: 500px;
  }
}

@media (max-width: 425px) {
  .quote__img {
    border-top: 1px solid #E3E3E3;
    padding-top: 20px;
  }
}
