.bikes__text {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #151515;
  text-decoration: none;
  margin: 0;
  padding-left: 5px;
}

.bikes__card-link:hover .bikes__text {
  color: #FF3D00;
}

@media (max-width: 425px) {
  .bikes__text {
    padding-left: 0;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 80px;
    z-index: 2;
  }
}

@media (max-width: 320px) {
  .bikes__text {
    left: 70px;
  }
}
